.task-table {
  position: relative;
  margin: auto;
  text-align: left;
  width: 600px;

  flex-wrap: wrap;
}

.project-name {
  text-align: center;
  font-size: 22px;
  color: #b80c09;
}

.title {
  font-size: 18px;
  text-decoration: underline;
}

.date-time {
  font-size: 14px;
}

.description {
  font-size: 16px;
}

.label {
  margin-right: 1%;
  font-size: 13px;
  border-style: solid;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f0f0f0;
}

.label-text {
  color: #550510;
}

.date-time-picker {
  display: inline;
  width: fit-content;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: transparent;
  color: white;
}

.subtask {
  margin-left: 8%;
  margin-top: -20px;
}

.view-subtasks-buttton {
  background-color: transparent;
  border: 0px;
  color: #0d6efd;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.completed-task {
  text-decoration: line-through;
}

.complete-button {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
}

@media screen and (max-width: 960px) {
  .complete-button {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: fit-content;
  }

  .task-table {
    width: 100%;
  }
}
