.col-md-8 {
  width: 40%;
}

.form {
  padding: 25px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(59, 100, 122, 0.8);
  box-shadow: 0px 0px 9px 0px rgba(59, 100, 122, 0.8);
  border: 0.3px solid #52779a;
  border-radius: 9px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.login-form {
  padding-top: 100px;
  margin-bottom: 300px;
}

.form-label {
  font-size: 22px;
  width: 100%;
  text-align: center;
}

.form-group {
  padding-bottom: 15px;
}

.button-row {
  display: flex;
  justify-content: center;
}

.login-button {
  width: fit-content;
}

.account-registration.row {
  margin-bottom: 6%;
}

.account-registration-title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.account-registration-content {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .col-md-8 {
    width: 80%;
  }
}
