.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tasks-div {
  padding: 0;
  border: 0;
}

/* To be Improved */
.sidebar {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10%;
  background-color: currentColor;
  padding-bottom: 10%;
  border-right: 1px solid rgb(255, 255, 255);
}

.col-sm-9 {
  padding: 0;
  margin: 0;
  background-color: currentColor;
}

.task-section {
  background-color: currentColor;
  max-height: max-content; /* or any value */
  overflow-y: auto;
}
