h1 {
  margin: 0;
  padding: 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: black;
  z-index: 100;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 5%;
  bottom: 25%;
  height: fit-content;
  margin: auto;
  background: #525b63;
  border: 2px #525b63 solid;
  border-radius: 20px;
}

.popup-table {
  margin-top: 5% !important;
  border-color: #525b63;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.popup-table-td {
  width: 100%;
  text-align: center;
  color: #fdfdfd;
  border-radius: 12px;
  margin: auto;
}

.subtask-tr {
  border-top-width: 10px;
  color: #fdfdfd;
  border-radius: 20px;
  background-color: #161a1d;
}

.close-button {
  margin-top: 3%;
  margin-bottom: 1%;
}

.modal-title {
  color: white;
}

.label-title {
  font-size: 20px;
  color: white;
}

.input-field {
  width: 50%;
  margin: auto;
}

.btn-success {
  margin-top: 3%;
}

.input-task {
  width: 90%;
}

.input-task-label {
  color: black;
}

@media screen and (max-width: 960px) {
  .popup_inner {
    width: 80%;
    left: 10%;
  }
}
