.task-card {
  border: 2px solid #161a1d;
  border-radius: 10px;
  background-color: #161a1d;
  padding: 1%;
  margin-bottom: 0.5%;
}

.task-tr {
  display: block;
  color: #fdfdfd;
  width: 100%;
  height: 100%;
}

.task-title {
  font-size: 18px;
  margin-bottom: 0;
}

.cta-buttons {
  position: relative;
}

.task-description {
  font-size: 16px;
  padding-left: 4%;
}

.action-button {
  background-color: transparent;
  border: transparent;
  color: #0d6efd;
  font-size: 17px !important;
  margin-left: 5px;
}
