.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.home-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(75%);
}

h1.title {
  color: rgb(255, 255, 255);
  font-size: 72px;
}

p.title {
  color: rgb(255, 255, 255);
  font-size: 58px;
  text-decoration: overline;
}

@media screen and (max-width: 960px) {
  h1.title {
    font-size: 64px;
    margin-top: -150px;
  }

  p.title {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  h1.title {
    font-size: 32px;
    margin-top: -150px;
  }

  p.title {
    font-size: 20px;
  }
}
