h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.main-title {
  padding-top: 5%;
  padding-bottom: 3%;
}

.section-title {
  font-size: 28px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 2%;
}

.last-paragraph {
  padding-bottom: 10%;
}
