.sidebar-container {
  position: sticky;
  z-index: 100;
}

.entity-selector {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  text-align: center;
}

.add-new-entity {
  margin: auto;
  margin-top: 3%;
  display: block;
  width: 65%;
}

h3 {
  color: white;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;
}

.add-project-button {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.project-list {
  color: rgb(199, 192, 192);
  font-size: 18px;
  text-align: center;
}

.project-list:hover {
  cursor: pointer;
  color: #0d6efd;
}

@media screen and (max-width: 960px) {
  .sidebar {
    padding-top: 0;
    padding-bottom: 3%;
  }

  .entity-selector {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .option {
    font-size: 30px;
  }
  .add-new-project {
    margin: auto;
    margin-top: 3%;
    display: block;
    width: 100%;
  }

  .sidebar-container {
    z-index: 0;
  }
}
